In [ ]:
#1.
with open(r'python.txt') as x:
    a=x.read()
    print(a)

salam bugun hava 20 derecedir
men universitete gedirem
bugun imtahanim var
bu imtahan statistikadandir

In [29]:
#2. 
with open(r'python.txt') as x:
    for i,line in enumerate(x):
        if i>=2:
            break
        print(line)

salam bugun hava 20 derecedir

men universitete gedirem

In [28]:
#3.
with open(r'python.txt',"a") as x:
    b=x.write('ve hal hazirda python yaziram')
    print(b)

29

In [33]:
#4. 
n=2
with open(r'python.txt') as x:
    lines=x.readlines()
    for line in lines[-n:]:
        print(line)

bu imtahan statistikadandir

ve hal hazirda python yaziramve hal hazirda python yaziramve hal hazirda python yaziramve hal hazirda python yaziram

In [35]:
#5. 
with open(r'python.txt') as x:
    a=x.readlines()
    print(a)

['salam bugun hava 20 derecedir \n', 'men universitete gedirem\n', 'bugun imtahanim var \n', 'bu imtahan statistikadandir\n', 've hal hazirda python yaziramve hal hazirda python yaziramve hal hazirda python yaziramve hal hazirda python yaziram']

In [ ]:
#7. 
with open(r'python.txt') as x:
       bos=[] 
       for i in x:
            bos.append(i)
       print(bos)

['salam bugun hava 20 derecedir \n', 'men universitete gedirem\n', 'bugun imtahanim var \n', 'bu imtahan statistikadandir\n', 've hal hazirda python yaziramve hal hazirda python yaziramve hal hazirda python yaziramve hal hazirda python yaziram']

In [ ]:
#8. 
#??????????????????????????????????????????????????????

AttributeError: 'builtin_function_or_method' object has no attribute 'split'

In [51]:
#9. 
with open('python.txt') as text:
    lines=text.readlines()
    count=0 
    for i in lines:
        count+=1
        print(count)


with open(r'python.txt') as text:
    count=len(text.readlines())
    print(count)

1
2
3
4
5
5

In [52]:
#10. 
from collections import Counter
with open(r'python.txt') as text:
    words=text.read()
    word=words.split()
    fre=Counter(word)
print(fre)

Counter({'hal': 4, 'hazirda': 4, 'python': 4, 'yaziramve': 3, 'bugun': 2, 'salam': 1, 'hava': 1, '20': 1, 'derecedir': 1, 'men': 1, 'universitete': 1, 'gedirem': 1, 'imtahanim': 1, 'var': 1, 'bu': 1, 'imtahan': 1, 'statistikadandir': 1, 've': 1, 'yaziram': 1})

In [55]:
#11. 
import os 
with open(r'python.txt') as text:
    a=os.stat('python.txt')
print(a)

os.stat_result(st_mode=33206, st_ino=6192449487805204, st_dev=2803038713710685357, st_nlink=1, st_uid=0, st_gid=0, st_size=225, st_atime=1745010750, st_mtime=1745007567, st_ctime=1745006612)

In [ ]:
#12. 
with open(r'python.txt',"w") as text:
    w=text.write("ve men hal hazirda 12ci sualdayam")
print(w)

33

In [58]:
#13.
import shutil
shutil.copy("python.txt","python2.txt")

import os 
os.remove("python2.txt")

In [5]:
#15. 
import random 
with open(r'python.txt') as text:
    lines=text.readlines().splitlines()
random_line=random.choice(lines)
print(random_line)
#???????????????????????????????????????????????

AttributeError: 'list' object has no attribute 'splitlines'

In [73]:
#17. 
with open(r'python.txt') as text:
    x='python.txt'.strip()
    print(x)

python.txt

In [ ]:
#18. 
with open(r'python.txt') as text:
    x=text.read()
    words=x.split()
    print(len(words))

5

In [ ]:
#19. 
#???????????????????????

In [ ]:
#20. 
import os 
os.path.exists(r'd')

In [12]:
import os
try: 
	if  os.path.exists(r"C:\Users\Asus\OneDrive\Desktop\my_python\Data-PYTHON\my_py_files\Sqlqueries.sql"):
		raise FileExistsError("File Already Exists")
	if not os.path.exists(r"C:\Users\Asus\OneDrive\Desktop\my_python\Data-PYTHON\my_py_files\Sqlqueries.sql"):
		os.makedirs(r"C:\Users\Asus\OneDrive\Desktop\my_python\Data-PYTHON\my_py_files\Sqlqueries.sql")
	with open(r"C:\Users\Asus\OneDrive\Desktop\my_python\Data-PYTHON\my_py_files\Sqlqueries.sql\Purchase.sql","w") as q1:
		q1.write("""
		select 
		t.TABLE_SCHEMA,
		t.TABLE_NAME,
		c.COLUMN_NAME,
		c.DATA_TYPE,
		c.CHARACTER_MAXIMUM_LENGTH,
		c.IS_NULLABLE
	from 
		INFORMATION_SCHEMA.TABLES t
	inner join
		INFORMATION_SCHEMA.COLUMNS c
	on 
		t.TABLE_NAME=c.TABLE_NAME
	and 
		t.TABLE_SCHEMA=c.TABLE_SCHEMA
	where
		t.TABLE_SCHEMA='Purchase'""")
except FileExistsError as e:
	print(e)

File Already Exists