In [ ]:
#Big Countries 
import pandas as pd
world=pd.read_csv('countries.csv')
result=world[(world['area']>=3000000) | (world['population']>=25000000)][['name','continent','area','population']]
df=pd.DataFrame(result)
print(df)

          name continent     area  population
0  Afghanistan      Asia   652230    25500100
2      Algeria    Africa  2381741    37100000

In [ ]:
#Recycable and Low fats products
import pandas as pd 
product=pd.read_csv('mydata.csv')
result=product[(product['low_fats']=="Y") & (product['recyclable']=='Y')]
print(result)

   product_id low_fats recyclable
1           1        Y          Y
3           3        Y          Y

In [11]:
#Customers Who Never Order 
import pandas as pd 
customers=pd.read_csv('customers.csv')
orders=pd.read_csv('orders.csv')
df=customers[~customers['id'].isin(orders['customerId'])]
print(df)

   id   name
1   2  Henry
3   4    Max

In [16]:
#Article Wiev I
import pandas as pd
view=pd.read_csv('articel.csv')
result=view[view['author_id']==(view['viewer_id'])]
print(result['author_id'])

2    7
5    4
6    4
Name: author_id, dtype: int64

In [22]:
#Inwalid tweets 
import pandas as pd 
tweets=pd.read_csv('mydata.csv')
df=tweets[tweets['content'].apply(len)>11]
print(df)

   tweet_id                            content
1         2  More than fifteen chars are here!

In [26]:
#Calculate Special Bonus 
import pandas as pd 
salary=pd.read_csv('mydata.csv')
df=salary[~salary['name'].str.startswith("M") &(salary['employee_id'])%2==1]
print(df)

   employee_id     name  salary
2            7  Addilyn    7400
4            9   Kannon    7700

In [32]:
#Fixed Names in Table 
import pandas as pd 
users=pd.read_csv('mydata.csv')
df=pd.DataFrame(users)
df['name']=df['name'].str.swapcase()
print(df)

   user_id   name
0        1  AlICE
1        2    Bob

In [24]:
#Find Users With Valid E-mails
import pandas as pd
import re
pattern=(r'^[A-Za-z][A-Za-z0-9_\.\-]*@leetcode.com$')
user=pd.read_csv('mydata.csv')
user=user[user['mail'].str.match(pattern)]
print(user)

   user_id       name                     mail
0        1    Winston     winston@leetcode.com
2        3  Annabelle      bella-@leetcode.com
3        4      Sally  sally.come@leetcode.com

In [9]:
#Patient WIth a Condition 
import pandas as pd 
df=pd.read_csv('mydata.csv')
True_rows=df[df['conditions'].str.contains('DIAB1',na=False)]
print(True_rows)

   patient_id patient_name    conditions
2           3          Bob  DIAB100 MYOP
3           4       George  ACNE DIAB100

In [9]:
#Nth Highest Salary 
import pandas as pd 
data=pd.read_csv('mydata.csv')
df=pd.DataFrame(data)
unique_salary=df['salary'].drop_duplicates().sort_values(ascending=False)
second_salary=unique_salary.iloc[1] if len(unique_salary) > 1 else None
print(second_salary)

200

In [14]:
#Second Highest Salary 
import pandas as pd 
data=pd.read_csv('mydata.csv')
df=pd.DataFrame(data)
unique_salary=df['salary'].drop_duplicates().sort_values(ascending=False)
second_salary=unique_salary.iloc[1] if len(unique_salary) > 1 else None
print(second_salary)

None

In [33]:
#Departament Highest Salary
#??????????????????????????????????????????????????

In [53]:
#Ranked Scores 
import pandas as pd 
data=pd.read_csv('mydata.csv')
df=pd.DataFrame(data)
df['rank']=df['score'].rank(method='dense',ascending=False)
df=df.sort_values('score',ascending=False)
print(df)

   id  score  rank
4   5   4.00   1.0
2   3   4.00   1.0
3   4   3.85   2.0
1   2   3.65   3.0
5   6   3.65   3.0
0   1   3.50   4.0

In [59]:
#Delete Duplicate Emails
import pandas as pd 
data=pd.read_csv('mydata.csv')
df=pd.DataFrame(data)
df=df['email'].drop_duplicates()
print(df)

0    john@example.com
1     bob@example.com
Name: email, dtype: object

In [73]:
#Rearrenge Products Table
import pandas as pd 
data=pd.read_csv('mydata.csv')
df=pd.DataFrame(data)
df=pd.melt(df,id_vars=['product_id'],var_name='store',value_name='price')
df=df.dropna()
print(df)

   product_id   store  price
0           0  store1   95.0
1           1  store1   70.0
2           0  store2  100.0
4           0  store3  105.0
5           1  store3   80.0