In [2]:
#1.
print(len("Python Program"))

14

In [ ]:
#2

w3ce

In [1]:
#3
x="w3resource"
print(x[:2]+x[-2:])

w3ce

In [ ]:
#4
x="restart"
print(x.replace("r","$",))

restart

In [ ]:
#5
x=("abc")
k=("xyz")
print(r)

abxy

In [6]:
x="adil"
y=x[2:]
z=x[0:2]
print(y+z)

ilad

In [9]:
x="kenan bunu eder"
print(x[::2])

knnbn dr

In [ ]:
x={'the quick brown fox jumps over the lazy dog'}
for i in x:

<class 'set'>

In [9]:
#Python Conditional Statements and loops
# 1.  Divisible by 7 and Multiples of 5
for i in range(1500,2701):
    if i % 5==0 and i % 7 ==0:
        print(i)

1505
1540
1575
1610
1645
1680
1715
1750
1785
1820
1855
1890
1925
1960
1995
2030
2065
2100
2135
2170
2205
2240
2275
2310
2345
2380
2415
2450
2485
2520
2555
2590
2625
2660
2695

In [ ]:
# 2. TEMPRATURE

TypeError: 'int' object is not iterable

In [11]:
# 4. Construct Pattern (Diamond Pattern)
n=5
for i in range(1,n+1):
    star="* "*i
    print(star)
for i in range(n-1,0,-1):
    star="* "*i
    print(star)

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [12]:
#8. Print Numbers 0 to 6 Except 3 and 6
for i in range(0,10):
    if i ==3 or i==6:
        continue
    print(i)

0
1
2
4
5
7
8
9

In [ ]:
#14.Count Digits and Letters in a String
text=["Python 3.2","KENAN15102"]
letter=0
digit=0
for i in text:
    for char in 
    if i.isalpha():
        letter+=1
    elif i.isdigit():
        digit+=1
print("letters",letter)
print("digits",digit)

letters 0
digits 0

In [1]:
#15. Pasword Validity Checker
import re
input_password=input("Ad;;")
p=True
while p:
    if len(input_password)<6 or len(input_password)>16:
        break
    elif not re.search("[a-z]",input_password):
        break
    elif not re.search("[A-Z]",input_password):
        break
    elif not re.search("[0-9]",input_password):
        break
    elif not re.search("[$#@]",input_password):
        break
    else:
        print("Valid Password")
        p=False
        break
if p:
    print("Invalid Password")

Invalid Password

In [ ]:
#9.
for i in range(0,50):
    if

50

In [ ]:
for i in range(100,400):
    a=str(i)
    if int(a)=0 
#flag metodu

In [1]:
#LIST
#1. Sum Items In List
Numbers=[5,6,4841,616,461,56,412]
total=sum(Numbers)
print(total)

6397

In [4]:
#2. Multipy Items In List
Numbers=[5,6,7,8]
product=1
for num in Numbers:
    product*=num
    print(product)

5
30
210
1680

In [6]:
#3. Get Largest Number In List
Numbers=[5,6,4841,616,461,56,412]
maxnum=max(Numbers)
print(maxnum)

4841

In [9]:
#4. Get Smallest Number in List
Numbers=[5,6,4841,616,461,56,412]
minnum=min(Numbers)
print(minnum)

5

In [10]:
#5. Count Strings with Same Start and End
listtext=("abba",'123454321',"ada","khgghk""iskjdbhu","namman")
for i in listtext:
    if len(i)>1 and i[0]==i[-1]:
        print(i)

abba
123454321
ada
namman

In [1]:
#7. Remove Duplicates From List
mylist=[1,0,00,1,13,2,23,6,4,1,20,30,5,4,123,31,15,311,166,616,16]
unique_list=list(dict.fromkeys(mylist))
print(unique_list)

[1, 0, 13, 2, 23, 6, 4, 20, 30, 5, 123, 31, 15, 311, 166, 616, 16]

In [3]:
#8. Check if List is Empty
mylist1=[]
if not mylist1:
    print("empty")
else:
    print("not null")

empty

In [4]:
#10. Find Words Than N
wordslist=["mylistkk","helloworld","book","iki","goodwork"]
n=5
for i in wordslist:
    if len(i)>n:
        print(i)

mylistkk
helloworld
goodwork

In [6]:
#11. Check Common Member Between Two List
list1=[1,13,596,694,16]
list2=[2,45,8455,841,16]
intersection=list(set(list1)&(set(list2)))
print(intersection)

[16]

In [ ]:
#12. Remove Specific Elements from List
Sample_List =['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
for i in Sample_List:
    if i=="Green":
        rem

TypeError: list indices must be integers or slices, not tuple

In [13]:
#14. Remove Even Numbers from List
number1=[22,654,841,261,73,96,59,13,25,26,18]
notevenumber=[x for x in number1 if x %2!=0]
print(notevenumber)

[841, 261, 73, 59, 13, 25]

In [ ]:
#17. Check If All Numbers Are Prime
def hello_knn(ad):
    print(f"salam,{ad}!")

In [14]:
#21. Convert List To String
listint=[22,654,841,261,73,96,59,13,25,26,18]
str1=str(listint)
print(str1,type(str1))

[22, 654, 841, 261, 73, 96, 59, 13, 25, 26, 18] <class 'str'>

In [17]:
#24.Append One List to Another
listint=[22,654,841,261,73,96,59,13,25,26,18]
Sample_List =['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
listint.append(Sample_List)
print(listint)

[22, 654, 841, 261, 73, 96, 59, 13, 25, 26, 18, ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']]

In [35]:
#25.  Select Random Item from List
#1)Təsadüfi bir element seçmək 
#random.choice

import random
listint=[22,654,841,261,73,96,96,59,13,25,26,18,59]
random_item=random.choice(listint)
print(random_item)

#2)  Təsadüfi bir və ya bir neçə element seçmək (təkrarla)
#random.choices
import random
listint=[22,654,841,261,73,96,59,13,25,26,18]
random_item=random.choices(listint,k=3)
print(random_item)

#3)  Təsadüfi unikal elementlər seçmək
# random.sample()
import random
listint=[22,654,841,261,73,96,59,13,25,26,18]
random_item=random.sample(listint,2)
print(random_item)

#4) Siyahıdan indeksə görə təsadüfi seçim
#random.randint() 
import random
listint=[22,654,841,261,73,96,59,13,25,26,18]
random_item=random.randint(0,len(listint)-1)
print(random_item)

59
[18, 22, 22]
[73, 96]
7

In [42]:
#28. Find Second Largest Number in List
#metod 1
numlist=[22,654,841,261,73,96,59,13,25,26,18]
second_num=sorted(set(numlist),reverse=True)[1]
print(second_num)


#metod 2
import heapq
numlist=[22,654,841,261,73,96,59,13,25,26,18]
second_num=heapq.nlargest(2,(numlist))[1]
print(second_num)

654
654

In [43]:
#30. Count Frequency of List Elements
from collections import Counter
listo=[50,50,50,50,40,40,40,40,85,85,96,96,96,96,96,10,10,10]
tezlik=Counter(listo)
print(tezlik)

Counter({96: 5, 50: 4, 40: 4, 10: 3, 85: 2})

In [51]:
#35.Create List with Range Concatenation
listone=['l','o']
n=6
mynewlist=['{}{}'.format(i,x) for x in range(1,n+1) for i in listone]
print(mynewlist)

['l1', 'o1', 'l2', 'o2', 'l3', 'o3', 'l4', 'o4', 'l5', 'o5', 'l6', 'o6']

In [16]:
#1.
def max_finder(list1):
    print(max(list1))
max_finder([3,69,6,4,548,4])

548

In [17]:
#2. 
def sum_list(list5):
    print(sum(list5))
sum_list([61,496,4961,956,46])

6520

In [17]:
#3.
def multiple_num(list1):
    hasil=1
    for x in list1:
        hasil= hasil*x
    return hasil
print(multiple_num((8,2,3,-1,-59)))

2832

In [33]:
#4.Reverse a String
def string_reverse(mystring):
    return mystring[::-1]
print(string_reverse("123456789"))

987654321

In [31]:
#5. Factorial Of a Number
def fact_num(num):
    hasil=1
    for i in range(1,num+1):       
        hasil*=i
    return hasil

print(fact_num(5))



# metod 2 (rekursiv)
def factorial(n):
    if n==0 or n==1:
        return 1 
    else:
        return n*factorial(n-1)
print(factorial(4))

120
24

In [2]:
#6. 
def falls_range(num):
    if num in range(1,100):
        print(True)
    else:
        print(False)
(falls_range(26))

True

In [3]:
#7. 
def counter_letter(string5):
    x={"UPPER":0,"lower":0}
    for i in string5:
        if i.islower():
            x["UPPER"]+=1
        elif i.isupper():
            x["lower"]+=1
    print("COUNT UPPER",x["UPPER"])
    print("count lower", x["lower"])
counter_letter("cusivjkJDKFND")

COUNT UPPER 7
count lower 6

In [7]:
#8. 
def unique_list(mylist):
    m=[]
    for i in mylist:
        if i not in m:
            m.append(i)
    return m 
print(unique_list([4,4,4,56,56,23,89,89,65,49,94]))

[4, 56, 23, 89, 65, 49, 94]

In [73]:
#9.
def prime_num(k):
    for i in range(2,k):
        if k % i ==0:
            return False
    return True
print(prime_num(148))

False

In [85]:
#10. 
def even_num(k):
    x=[]
    for i in (k):
        if i % 2 ==0:
            x.append(i)
    return x 
print(even_num([4,6,164,9,34,6131,6493,6,7]))

[4, 6, 164, 34, 6]

In [20]:
#11. Check if a Number Is Perfect
def perfect_number(k):
    sum=0 
    for i in range(1,k):
        if k%i==0:
            sum+=i
    return sum==k
print(perfect_number(28))

True

In [25]:
#12. 
def palendrom_num(mylist):
    if mylist==mylist[::-1]:
        return True
    return False
print(palendrom_num("kallak"))

True

In [54]:
#15. 
items="yellow black white green white"
words=items.split()
sorted_words=sorted(words)
sorted_strings="-".join(sorted_words)
print(sorted_strings)

black-green-white-white-yellow

In [12]:
#16.
def squared():
    k=list()
    for i in range(1,30):
       k.append(i**2)
    print(k)
squared()

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841]

In [27]:
#13. Pascall Triangle 
def elevenpower(n):
    k=1
    result=[]
    for i in range(n):
        result.append(11**k)
        k+=1
    return result
print(elevenpower(5))

[11, 121, 1331, 14641, 161051]

In [26]:
#18. 
x="""myset={"DATA","kitab","salam"}
for i in myset:
    print(myset)"""
exec(x)

{'salam', 'kitab', 'DATA'}
{'salam', 'kitab', 'DATA'}
{'salam', 'kitab', 'DATA'}

In [ ]:
#19.
def quvvet(a,b):
    number=a**b
    return number
def cem(a,b):
    a=b(a,4) + b()

7
130

In [ ]:
#NOTES 
#factorial rekrusiv ile yazilmasi - 5.ci sual 
#18-ci suala yeniden bax
#set,tuple,dictionary

In [8]:
set1={1,2,62,5}
tuple1=(5,6,4932,6)
set1.update(tuple1)
print(set1)

{1, 2, 4932, 5, 6, 62}

In [ ]:
#1.

In [20]:
#2.
myset={"DATA","kitab","salam"}
for i in myset:
    print(myset)

{'salam', 'DATA', 'kitab'}
{'salam', 'DATA', 'kitab'}
{'salam', 'DATA', 'kitab'}

In [22]:
#3. 
myset.add("ovncjnsn")
print(myset)

{'salam', 'DATA', 'kitab', 'ovncjnsn'}

In [37]:
#4. 
myset.remove("DATA")
print(myset)

NameError: name 'myset' is not defined

In [33]:
#5. 
myset.discard("salam")
print(myset)

{'kitab', 'ovncjnsn'}

In [38]:
#6. 
set1={1,2,6354,6164,322,61}
set2={1,2,6354,6161,32,1}
set3=set1&set2
print(set3)

{1, 2, 6354}

In [39]:
#7. 
set3=set1|set2
print(set3)

{32, 1, 2, 322, 6161, 6354, 6164, 61}

In [40]:
#8.
set3=set1.difference(set2)
print(set3)

{322, 6164, 61}

In [ ]:
#9.
set1={641,6,61643,56,6514,61}
set2={61,6,6164,68,614,61}
sym_diff=set1.syset2
print(sym_diff)

None

In [ ]:
#10. 
set3=set1.issubset(set2)
print(set3)

False

In [46]:
#11. 
set1={641,6,61643,56,6514,61}
set2={61,6,6164,68,614,61}
set3=set1.copy()
print(set3)

{641, 6514, 6, 56, 61643, 61}

In [1]:
#12. 
setk={64,4,16,16,52,62,65,23,6523,65,23,62,3}
setk.remove()
print(setk)

TypeError: set.remove() takes exactly one argument (0 given)

In [ ]:
#13. 
x=frozenset={1,2,3}
y=frozenset={4,5,6}
print(x|y)

{1, 2, 3, 4, 5, 6}

In [4]:
#14. 
set5={415,461664,14,13,63,6,23}
max(set5)

461664

In [5]:
min(set5)

6

In [68]:
#15. 

print(len(set1))

6

In [35]:
#16. 
set5={415,461664,14,13,63,6,23}
print(6 in set5)

True

In [41]:
#17. 
set1={641,61643,56,6514,61}
set2={6,6164,68,56,614}
set1.isdisjoint(set2)

False

In [47]:
#18. 
set1={1,2,3,4,5,6,7,8,9}
set2={1,5,9,5,2}
print(set1>=set2)

True

In [49]:
#19. 
set1={1,2,3,4,5,6,7,8,9}
set2={1,5,9,5,2} 
set3=set1.difference(set2)
print(set3)

{3, 4, 6, 7, 8}

In [58]:
#20.
set1={1,2,3,4,5,6,7,8,9}
set2={1,5,9,5,2}
set1.symmetric_difference_update(set2)
print(set1)

{3, 4, 6, 7, 8}

In [9]:
#21. 
from collections import  Counter 
setz=["ss","jlal","lak","pj","lak","pj"]
setc=Counter(setz)
print(setc)

Counter({'lak': 2, 'pj': 2, 'ss': 1, 'jlal': 1})

In [8]:
#22. 
setk={1,2,3,4,5,6,7,8,9}
k=7
for i in setk:
    for j in setk:
        if i!=j and i+j==k:
            print(i,j)

1 6
2 5
3 4
4 3
5 2
6 1

In [6]:
#23. 
strs=["w3resource","w3school","w3basics"]

if not strs:
    print(False)
else:
    prefix=strs[0]
for i in strs[1:]:
     while not i.startswith(prefix):
            prefix=prefix[:-1]
            if not prefix:
                 print("Empty")
print(prefix)

w3

In [18]:
#24.
def maxproduct(nums):
    nums=list(set(nums))
    nums=sorted(nums)
    if len(nums)<=2:
        return 0 
    else:
        return nums[-2]*nums[-1]
                #return max(abs(nums[-1]))*max(abs(nums[-2]))
nums=[1,3,444,69,4496,974,1,4]
print(maxproduct(nums))

4379104

In [17]:
#25.
set1={1,2,3,4,5}
set2={4,5,6,7,8}
x=set1.difference(set2)
y=set2.difference(set1)
print(x,y)

{1, 2, 3} {8, 6, 7}

In [ ]:
#26.

In [ ]:
#27.

In [ ]:
#28.
myset={1,2,3,4,5,6,7,8,9,10}
target=10
for i in myset:
    for j in myset:
        for h in myset:
            if i+j+h==target and i!=j!=h:
                print(i,j,h)
                #tekrarlanma var?

1 2 7
1 3 6
1 4 5
1 5 4
1 6 3
1 7 2
1 8 1
2 1 7
2 3 5
2 5 3
2 6 2
2 7 1
3 1 6
3 2 5
3 4 3
3 5 2
3 6 1
4 1 5
4 2 4
4 5 1
5 1 4
5 2 3
5 3 2
5 4 1
6 1 3
6 3 1
7 1 2
7 2 1

In [31]:
#29.
myset={1,2,3,4,5,6,7,8,9,10}
myy=list(myset)
myy.sort()
print(myy[-3])

8

In [35]:
#30.
def remove_duplicates(mystring):
    return list(set(mystring))
mystr= ['foo', 'bar', 'abc', 'foo', 'qux', 'bar', 'baz' , 'baz']
print(remove_duplicates(mystr))

['baz', 'qux', 'foo', 'abc', 'bar']

In [ ]:
#NOTES.
# 24-de problem var , 26 ve 27 yazilmayib , 28-de tekrarlanma var

In [ ]:
#DICTIONARIES

In [ ]:
#1.

In [40]:
#2. 
firstdict= { 
    0:10,
    1:20
}
firstdict[2]=30
print(firstdict)

{0: 10, 1: 20, 2: 30}

In [42]:
#3. 
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50, 6:60}
merged_dicts=dic1|dic2|dic3
print(merged_dicts)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [49]:
#4. 
d = {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60} 
def is_key_existence(k):
    if k in d:
        print(True)
    else:
        print(False)
is_key_existence(2)

True

In [55]:
#5. 
d = {'x': 10, 'y': 20, 'z': 30} 
for i,j in d.items():
    print(i,j)

x 10
y 20
z 30

In [5]:
#6. 
numbers=range(1,11)
mydict={num:num**2 for num in numbers}
print(mydict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [6]:
#7. 
numbers=range(1,15)
mydict={num:num**2 for num in numbers}
print(mydict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196}

In [22]:
#8. 
student_info = {
    'ad': 'Əhməd',
    'soyad': 'Əliyev',
    'yaş': 20,
    'ixtisas': 'Kompyuter Mühəndisliyi'
}
book_info = {
    'başlıq': 'Python Proqramlaşdırma',
    'müəllif': 'John Doe',
    'nəşr ili': 2020,
    'səhifə sayı': 350
}

student_info.update(book_info)
print(student_info)

{'ad': 'Əhməd', 'soyad': 'Əliyev', 'yaş': 20, 'ixtisas': 'Kompyuter Mühəndisliyi', 'başlıq': 'Python Proqramlaşdırma', 'müəllif': 'John Doe', 'nəşr ili': 2020, 'səhifə sayı': 350}

In [27]:
#9. 
person_info = {
    'ad': 'Leyla',
    'yaş': 25,
    'şəhər': 'Bakı'
} 
for i,k in person_info.items():
    print(i,k)

ad Leyla
yaş 25
şəhər Bakı

In [1]:
#10. 

numbers_dict = {
    'bir': 62,
    'iki': 6523,
    'üç': 64,
}
sumx=sum(numbers_dict.values())
print(sumx)

6649

In [ ]:
#11.
numbers_dict = {
    'bir': 65,
    'iki': 2,
    'üç': 6
}
result=1 
for values in numbers_dict:
    result=result*numbers_dict[values]
print(result)

780

In [4]:
#12. 
numbers_dict = {
    'bir': 65,
    'iki': 2,
    'üç': 6 
}
numbers_dict.pop('bir')
print(numbers_dict)

{'iki': 2, 'üç': 6}

In [11]:
#13. 
colors=("red","green","yellow","blue")
numbers=(2,6,4,8)
color_dictionary=dict(zip(colors,numbers))
print(color_dictionary)

{'red': 2, 'green': 6, 'yellow': 4, 'blue': 8}

In [19]:
#14. 
sorted_dict=sorted(color_dictionary.keys())
print(sorted_dict)

['blue', 'green', 'red', 'yellow']

In [22]:
#15. 
max(color_dictionary.values())
min(color_dictionary.keys())

'blue'

In [ ]:
#16. 
class Person:
    def __init__(self,name,age,weight,height,school,address):
        self.name=name
        self.age=age
        self.weight=weight
        self.height=height
        self.school=school
        self.aDDRESS=address
person=Person("Ali",20,85,190,"UNEC","JOlly 117")
person_dict=vars(person)
print(person_dict)

{'name': 'Ali', 'age': 20, 'weight': 85, 'height': 190, 'school': 'UNEC', 'aDDRESS': 'JOlly 117'}

#class ne ise yarayir

In [33]:
#17. 
student_data = {
    'id1': {
        'name': ['Sara'],
        'class': ['V'],
        'subject_integration': ['english, math, science']
    },
    'id2': {
        'name': ['David'],
        'class': ['V'],
        'subject_integration': ['english, math, science']
    },
    'id3': {
        'name': ['Sara'],
        'class': ['V'],
        'subject_integration': ['english, math, science']
    },
    'id4': {
        'name': ['Surya'],
        'class': ['V'],
        'subject_integration': ['english, math, science']
    }
}

result={}
for key,value in student_data.items():
    if value not in result.values():  
        result[key]=value
print(result)

{'id1': {'name': ['Sara'], 'class': ['V'], 'subject_integration': ['english, math, science']}, 'id2': {'name': ['David'], 'class': ['V'], 'subject_integration': ['english, math, science']}, 'id4': {'name': ['Surya'], 'class': ['V'], 'subject_integration': ['english, math, science']}}

In [39]:
#18.
my_dict = {
    'name': 'Sara',
    'age': 25,
    'class': 'V'
}
empty_dict1 = {}

if not my_dict:
    print("empty")
else:
    print("Not empty")

Not empty

In [3]:
#19. 
from collections import Counter
d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}
d3=Counter(d1)+Counter(d2)
print(d3)

Counter({'a': 400, 'b': 400, 'd': 400, 'c': 300})

In [12]:
#20. 
d= {"V":"S001", "V": "S002", "VI": "S001", "VI": "S005", "VII":"S005","V":"S009","VIII":"S007"}
ds_vl=set(d.values())
print(ds_vl)

{'S005', 'S009', 'S007'}

In [ ]:
#21. 
from itertools import combinations

In [16]:
#22. 
from heapq import nlargest  
d = {
    1: 'alma',
    2: 'armud',
    3: 'heyva',
    4: 'nar',
    5: 'gilas'
}
three_largest=nlargest(3,d,key=d.get)
print(three_largest)

[4, 3, 5]

In [18]:
#23. 
from collections import Counter 
item_list = [{'item': 'item1', 'amount': 400}, {'item': 'item2', 'amount': 300}, {'item': 'item1', 'amount': 750}]
result=Counter()
for i in item_list:
    result[i['item']]+=i['amount']
print(result)

Counter({'item1': 1150, 'item2': 300})

In [2]:
#24. 
text='w3resource'
mydict={}
for i in text:
    if i in mydict:
        mydict[i]+=1
    else:
        mydict[i]=1
print(mydict)

{'w': 1, '3': 1, 'r': 2, 'e': 2, 's': 1, 'o': 1, 'u': 1, 'c': 1}

In [4]:
#25. 
import pandas as pd 
mydict={'w': 1, '3': 1, 'r': 2, 'e': 2, 's': 1, 'o': 1, 'u': 1, 'c': 1}
df=pd.DataFrame(mydict.items(),columns=["Letter","Count"])
print(df)

  Letter  Count
0      w      1
1      3      1
2      r      2
3      e      2
4      s      1
5      o      1
6      u      1
7      c      1

In [17]:
#26. 
student = [{'id': 1, 'success': True, 'name': 'Lary'},
 {'id': 2, 'success': False, 'name': 'Rabi'},
 {'id': 3, 'success': True, 'name': 'Alex'}]
succes_count=0
fail_count=0 
for i in student:
    if i['success']:
        succes_count+=1
    else:
        fail_count+=1
print(succes_count,"\n",fail_count)

2
 1

In [22]:
#27. 
keys=['a','b','c','d']
nested_dict={}
for k in reversed(keys):
    nested_dict={k:nested_dict}
print(nested_dict)

{'a': {'b': {'c': {'d': {}}}}}

In [67]:
#28. 
num = {'n1': [2, 3, 1], 'n2': [5, 1, 2], 'n3': [3, 2, 4]}
sorted_dict={key:sorted(value) for key,value in num.items()}
print(sorted_dict)

{'n1': [1, 2, 3], 'n2': [1, 2, 5], 'n3': [2, 3, 4]}

In [ ]:
#29. 
num = {'n 1': [2, 3, 1], 'n 2': [5, 1, 2], 'n 3': [3, 2, 4]}
cleaned_dict={key.replace(" ","")for key,value in num.items()}
print(cleaned_dict)

#METOD 2
num = {'n 1': [2, 3, 1], 'n 2': [5, 1, 2], 'n 3': [3, 2, 4]}
cleaned_dict={key.translate({32:None}) for key,value in num.items()}
print(cleaned_dict)

{'n2', 'n1', 'n3'}
{'n2', 'n1', 'n3'}

In [4]:
#30.
from operator import itemgetter
import heapq
shop_items = {
    'alma': 15,
    'banan': 25,
    'armud': 10,
    'portağal': 20,
    'kivi': 5
} 
top_three=heapq.nlargest(3,shop_items.items(),key=itemgetter(1))
for item,value in top_three:
    print(item,value)

banan 25
portağal 20
alma 15

In [13]:
#31.
dict_num = {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60} 
for i,(key,value) in enumerate(dict_num.items(),1):
    print(key,value,i)

1 10 1
2 20 2
3 30 3
4 40 4
5 50 5
6 60 6

In [22]:
#32. 
students = {'Aex': {'class': 'V', 'roll_id': 2}, 
            'Puja': {'class': 'V', 'roll_id': 3}}
for name in students:
    print(name)
    for values in students[name]:
        print(values,students[name][values])

Aex
class V
roll_id 2
Puja
class V
roll_id 3

In [26]:
#33. 
student = {
  'name': 'Alex',
  'class': 'V',
  'roll_id': '2'
}
print(student.keys()>={'name','Alex'})
print(student.keys()>={'name','roll_id'})

False
True

In [29]:
#34. 
dict =  {'Alex': ['subj1', 'subj2', 'subj3'], 'David': ['subj1', 'subj2']} 
k=sum(map(len,dict.values()))
print(k)

5

In [37]:
#35. 
from collections import Counter
z=Counter({'Math': 81, 'Physics': 83, 'Chemistry': 87})
print(z.most_common())
print(z)

[('Chemistry', 87), ('Physics', 83), ('Math', 81)]
Counter({'Chemistry': 87, 'Physics': 83, 'Math': 81})

In [ ]:
#36. 
Sample_lists= ['Class-V', 'Class-VI', 'Class-VII', 'Class-VIII'], [1, 2, 2, 3]
#????????????

In [41]:
#37. 
student_details = [
  {'id': 1, 'subject': 'math', 'V': 70, 'VI': 82},
  {'id': 2, 'subject': 'math', 'V': 73, 'VI': 74},
  {'id': 3, 'subject': 'math', 'V': 75, 'VI': 86}
]
for i in student_details:
    n1=i.pop('V')
    n2=i.pop('VI')
    i['V+VI']=(n1+n2)/2  
    print(i)

{'id': 1, 'subject': 'math', 'V+VI': 76.0}
{'id': 2, 'subject': 'math', 'V+VI': 73.5}
{'id': 3, 'subject': 'math', 'V+VI': 80.5}

In [46]:
#38. 
x = {'key1': 1, 'key2': 3, 'key3': 2}
y = {'key1': 1, 'key2': 2}
common_keys=set(x.items()) & set(y.items())
print(common_keys,"IS PRESENT BOTH")

{('key1', 1)} IS PRESENT BOTH

In [ ]:
#40. 
a={
    'x': [11, 12, 13, 14, 15, 16, 17, 18, 19],
    'y': [21, 22, 23, 24, 25, 26, 27, 28, 29],
    'z': [31, 32, 33, 34, 35, 36, 37, 38, 39]
}
for i in a.values():
    print(i[4])

15
25
35

In [55]:
#41. 
o={'c1': 'Red', 'c2': 'Green', 'c3': None}
clean_o={k: v for k,v in o.items() if v}
print(clean_o)

{'c1': 'Red', 'c2': 'Green'}

In [66]:
#42. 
Original_Dictionary={'Cierra Vega': 175, 'Alden Cantrell': 180, 'Kierra Gentry': 165, 'Pierre Cox': 190}
cl={k: v for k,v in Original_Dictionary.items() if v >170}
print(cl)

{'Cierra Vega': 175, 'Alden Cantrell': 180, 'Pierre Cox': 190}

In [ ]:
#43. 
x="Sahib "
for i in x:
    print(i,end="5 ")

S5 a5 h5 i5 b5  5

pervin
pervin
pervin
pervin
pervin
pervin
pervin
pervin
pervin
pervin
pervin
pervin
pervin
pervin
pervin
pervin
pervin
pervin
pervin
pervin
pervin
pervin
pervin
pervin
pervin
pervin
pervin
pervin
pervin
pervin
pervin
pervin
pervin
pervin
pervin
pervin